bluesky-queueserver-api==0.0.8 ; python_version >= '3.6'
click==8.0.1
enum34==1.1.10 ; python_version == '2.7'
gevent==1.2.2 ; python_version == '2.7'
gevent==21.12.0 ; python_version >= '3.6'
greenlet==1.1.2
jsonpickle==2.1.0
jsonschema==3.2.0 ; python_version <= '3.6'
jsonschema==4.4.0 ; python_version >= '3.7'
lxml==4.7.1
matplotlib==2.2.5 ; python_version == '2.7'
matplotlib==3.3.4 ; python_version == '3.6'
matplotlib==3.5.1 ; python_version >= '3.7'
mx3-beamline-library==0.1.12 ; python_version >= '3.7'
numpy==1.16.6 ; python_version == '2.7'
numpy==1.19.5 ; python_version == '3.6'
numpy==1.21.4 ; python_version >= '3.7'
Pillow==6.2.2 ; python_version == '2.7'
Pillow==8.4.0 ; python_version == '3.6'
Pillow==9.0.1 ; python_version >= '3.7'
pre-commit==1.21.0 ; python_version == '2.7'
pre-commit==2.1.1 ; python_version == '3.6.0'
pre-commit==2.17.0 ; python_version >= '3.6.1'
pydantic==1.7.4 ; python_version == '3.6.0'
pydantic==1.9.0 ; python_version >= '3.6.1'
PyDispatcher==2.0.5
pyepics==3.4.3 ; python_version == '2.7'
pyepics==3.5.1 ; python_version >= '3.6'
pylint==1.9.5 ; python_version == '2.7'
pylint==2.11.1 ; python_version == '3.6.0'
pylint==2.11.1 ; python_version == '3.6.1'
pylint==2.13.8 ; python_version >= '3.6.2'
pytest==4.6.11 ; python_version == '2.7'
pytest==7.0.1 ; python_version >= '3.6'
ruamel.yaml==0.16.13 ; python_version == '2.7'
ruamel.yaml==0.17.21 ; python_version >= '3.6'
scipy==1.2.3 ; python_version == '2.7'
scipy==1.5.4 ; python_version == '3.6'
scipy==1.7.3 ; python_version == '3.7'
scipy==1.8.0 ; python_version >= '3.8'
suds==0.4 ; python_version == '2.7'
suds-py3==1.4.5.0 ; python_version >= '3.6'

# GPhL: f90nml, mgen, and py4j are required for GPhL Workflow and emulation
py4j==0.10.9.5
f90nml==1.4.3
